<%- include('../partials/header') %>

<table id="list">

  <thead>
    <tr>
      <th>Date</th>
      <th>Destination</th>
      <th>Trip Details</th>
    </tr>
  </thead>

  <tbody>
    <% trips.forEach(function(t) { %>
      <tr>
        <td><%= t.date %></td>
        <td><%= t.location %></td>
        <td><a href="/trips/<%= t._id %>">Itinerary</a></td>
        <td><form action="/trips/<%= t.id %>?_method=DELETE"
          class="delete-form" method="POST">
          <button type="submit">X</button>
        </form></td>
      </tr>
      <% }); %>
    </tbody>
    
  </table>
